.page {
  font-family: 'TT Firs Neue', Arial, sans-serif;;
  box-sizing: border-box;
  margin: 0 auto;
  font-style: normal;
  font-weight: 400;
  width: 100%;
  min-width: 320px;
  color: var(--dark-primary);
  background-color: var(--white);
}

.page__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page__link {
  opacity: 1;
  transition-property: opacity;
  transition-duration: .3s;
}

.page__link:hover {
  opacity: 0.6;
}

.page__title {
  margin: 0;
  font-weight: 500;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -0.01em;
  text-transform: lowercase;
}

.page__subtitle{
  margin: 24px 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}


@media screen and  (max-width: 768px){
  .page__title {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
  }

  .page__subtitle{
    margin: 8px 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
  }
}
