.title {
  margin: 0;
  font-weight: 500;
  font-size: 48px;
  line-height: 52px;
  color: var(--dark-primary)
}

@media screen and (max-width: 700px) {
  .title {
    font-size: 32px;
    line-height: 36px;
    margin: 0 0 8px 0;
  }
}
