.form-donate__email{
    box-sizing: border-box;
      margin: 0;
      padding: 11px 23px;
      background: none;
      border: 2px solid #96949E;
      border-radius: 26px;
      cursor: pointer;
      color: #3b3748;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      font-family: 'TT Firs Neue';
      transition: all 0.2s linear;
  }