.footer__social-link {
  display: block;
  width: 48px;
  height: 48px;
  float: left;
  padding: 0;
  margin: 0 23px 0 0;


}

@media screen and (max-width: 1025px) {
  .footer__social-link {
    width: 40px;
    height: 40px;
    margin: 0 21px 0 0;
  }
}

@media screen and (max-width: 769px) {

/* ======= */
  .footer__social-link {
    width: 32px;
    height: 32px;
    margin: 0 16px 0 0;
  }
}
/* >>>>>>> 7432796050c1570626e2dae237252b65cbe368f2 */
