.about__text {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin: 18px 0 0 0;
}

@media all and (max-width: 1023px) {
  .about__text {
    max-width: 320px;
    font-size: 16px;
    line-height: 20px;
  }
}

.about__text:first-child {
  margin: 8px 0 0 0;
}
