.promo__logo {
  display: block;
  margin: 40px auto 110px;

}

@media all and (max-width: 767px) {
  .promo__logo {
    width: 210px;
    height: 152px;
    margin-bottom: 110px;
    margin-top: 175px;
  }
}
