.promo__logo {
  display: block;
  margin: 0 auto 110px;
  margin-bottom: 150px;
}

@media all and (max-width: 767px) {
  .promo__logo {
    width: 210px;
    height: 152px;
    margin-bottom: 245px;
    margin-top: 127px;
  }
}
