.header__event {
    margin: 0 32px 0 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    position: relative;
    align-items: flex-end;
    cursor: pointer;
    transition: all 0.15s linear;
  }
  @media all and (max-width: 1023px) {
    .header__event {
        margin: 0;
    }
} 
  
  .header__event:hover {
    transform: scale(1.05);
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  }
  
  .header__event::before {
    content: '';
    background-image: url('../../../img/header/heart.svg');
    position: absolute;
    background-size: cover;
    left: -33px;
    width: 25px;
    height: 23px;
    transition: all 0.2s linear;
  }
  
  .header__event:hover::before {
    animation: pulse-btn 1.5s infinite linear;
    background-image: url('../../../img/header/heart__red.svg');
  }