:root {
  --dark-primary: #3B3748;
  --color-primary: #7100FF;
  --light-primary: #FCFAF7;
  --dark-secondary: #96949E;
  --light-secondary: #EBE9ED;
  --color-accident: #FFD400;
  --warning-error: #F40934;
  --green: #00B998;
  --white: #FFFFFF;
}

/*
    Переменные в CSS  - это специальные css-свойства,
    которые позволяют изменять значения любых других css-свойств динамически.

    CSS-переменные используют префикс  в виде 2-х дефисов: --varible : значение;
    Значение свойства может быть любым допустимым значением CSS: цветом, строкой, значением макета, даже выражением.

    Чтобы добавить использование переменной в код, необходимо записать так:
    :root{
        --red-color: #d33a2c; //Красный
    }

    .any{
        color: var(--red-color); // Для использования CSS-переменных необходимо  указать в соответствующем свойстве функцию var()
    }

    Что касается элемента :root, то в HTML это то же самое, что и корневой тег html, но с более высокой специфичностью.


    Вы можете объявлять переменные внутри любого элемента. Тогда они будут привязаны к этому элементу и его дочерним элементам!

    .box{
      --box-color:#900;
      --box-padding: 30px 20px;

      padding: var(--box-padding);
    }

    .box div{
      color: var(--box-color);
      border: 2px dotted var(--box-color);
    }
*/
