.card__btn {
  box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  position: absolute;
  background-color: var(--light-primary);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  top: 8px;
  right: 8px;
  cursor: pointer;
  transition: all .2s linear;
  border: none;
  z-index: 10;
  transition: all .2s linear;
}
.card__btn::before {
  position: absolute;
  content: '';
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../../../img/events/heart.svg');
  width: 24px;
  height: 23px;
  left: 12px;
  top: 13px;
  transition: all .2s linear;
}
.card__btn:hover::before {
  position: absolute;
  content: '';
  background-image: url('../../../img/events/heart__red.svg');
  animation: pulse-btn 1.5s infinite linear;
} 

@media screen and (max-width: 700px){
  .card__btn{
    width: 44px;
    height: 44px;
  }
  .card__btn::before {
    width: 20px;
    height: 18px;
    left: 13px;
    top: 14px;
  }
}

@keyframes pulse-btn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}