.form-donate__swipe{
    display: none;
    border-radius: 100px;
    width: 40px;
    border: 2px solid #96949E;
    margin: 0 auto;
    font-size: 0;
  }
  
  @media all and (max-width: 767px) {
    .form-donate__swipe{
      display: block;
    }
  } 