.about {
  padding: 0 0 80px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  margin: 0 auto;
  max-width: 880px;
}

@media all and (max-width: 1023px) {
  .about {
    grid-template-columns: repeat(1, 1fr);
    padding: 20px 20px 80px 20px;
  }
}
