.container {
  box-sizing: border-box;
  max-width: 1440px;
  min-width: 360px;
  margin: 0 auto;
  padding: 0  0  0 40px;
}

@media screen and (max-width: 700px){
  .container {
    padding: 0 20px;
  }
}
