.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
    margin: 0 auto;
  }

  @media all and (max-width: 1023px) {
    .header__wrapper {
        justify-content: end !important;
    }
} 