.photo-gallery__mobile {
    display: none;
}

@media screen and (max-width: 750px) {
    .photo-gallery__mobile {
        display: flex;
        max-width: 100%;
        padding-right: 20px;
        padding-bottom: 38px;
    }
}

@media screen and (max-width: 480px) {
    .photo-gallery__mobile {
        margin-top: 17px;
    }
}

