.numbers__container-left {
  position: absolute;
  order: 2;
  top: calc(480px - 148px);
  left: 240px;
}

@media screen and (max-width: 1200px) {
  .numbers__container-left {
    left: unset;
    text-align: center;
  }
}
