.button {
  box-sizing: border-box;
  margin: 0;
  padding: 11px 23px;
  background: none;
  border: 2px solid var(--dark-primary);
  border-radius: 26px;
  cursor: pointer;
  color: var(--dark-primary);
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  transition: all 0.2s linear;
  text-decoration: none;
}

.button:hover {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 700px) {
  .button {
    font-size: 16px;
    line-height: 20px;
  }
}
